.eachuser {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, minmax(9rem, 1fr));
    // place-content: center;
    color: rgba(84, 95, 125, 1);
    font-size: .88rem;
    padding: .88rem;
    border-radius: .2rem;
    font-weight: 400;
    @media only screen and (max-width: 1400px) {
        & {
            grid-template-columns: repeat(6, minmax(8rem, 1fr));
            font-size: .55rem;
            gap: .7rem;
        }
    }
    @media only screen and (max-width: 900px) {
        & {
            grid-template-columns: repeat(6, minmax(7rem, 1fr));
        }
    }
    li {
        a {
            color: rgba(84, 95, 125, 1);
        }
        word-wrap: break-word;
        span {
            display: inline-block;
        }
        &> :nth-child(2) {
            vertical-align: middle;
            margin-left: .5rem;
        }
        button {
            border: none;
            border-radius: 3rem;
            background: #F0F8F2;
            padding: .5rem .9rem;
            color: rgba(57, 205, 98, 1);
            @media only screen and (max-width: 1000px) {
                & {
                    font-size: 80%;
                    padding: .3rem .7rem;
                }
            }
        }
    }
    li {
        &:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 1200px) {
                & {
                    gap: 1rem;
                    justify-content: space-between;
                }
            }
        }
    }
}

.status-toggler-parent {
    position: relative;
}

.status-dropdown {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
}